body {
    display: grid;
    grid-template-areas: 
        "header header header"
        "health-bar health-bar health-bar"
        "wash-bar pet-container play-bar"
        "wash-bar text-container play-bar"
        "button-container button-container button-container";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    height: 100vh;
    margin: 0;
    padding: 10px;
    place-items: center;
    position: fixed;
    font-family: 'Open-sans', sans-serif;
    background-image: url(img/SimpleBarn.png);
    background-repeat: no-repeat;
    background-position: 20% -2%;
    background-size: 72%;
}

h1 {
    grid-area: header;
    text-align: center;
    font-size: 2em;
}

#healthBar {
    grid-area: health-bar;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    width: 776px;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    /* margin-left: auto; */
    margin-top:auto;
    border: solid 1px black;
}

#washBar {
    grid-area: wash-bar;
    background-color: lightgray;
    border-radius: 10px;
    height: 100%;
    justify-content: center;
    /* align-items: center;
    align-self: flex-end; */
    width: 50px;
    margin-inline-start: auto;
    border: solid 1px black;
    
}

#textContainer2 {
    margin-top: 100px;
}
#text {
    color:tomato;
}
#playBar {
    grid-area: play-bar;
    background-color: lightgray;
    border-radius: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-inline-end: auto;
    border: solid 1px black;
    
}

#healthColor, #washColor, #playColor {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 80%;
    transition: 0.5s;
    font-size: 20px;
    text-align: center;

}
#healthColor {
    background-color: lightgreen;
}

#washColor {
    background-color: lightgreen;
    
}

#playColor {
    background-color: lightgreen;
}


#petContainer {
    grid-area: pet-container;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageContainer {
    text-align: center;
}

#pet {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#textContainer {
    grid-area: play-bar;
    justify-content: center;
    list-style: none;
    background-color: lightgray;
    height:95%;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    color: rgb(229, 255, 0);
    font-size: 20px;
    visibility:visible;
    margin-inline-start: auto;
    position: relative;
    border: solid 1px black;
    overflow-y: auto;
}
.button-container {
    display: flex;
    grid-area: button-container;
    justify-content: space-evenly;
    column-gap: 15px;
    margin-top: 20px;
    margin-bottom: 30px;

}
.button-container button {
    padding: 20px 100px;
    background-color: rgb(222, 222, 222);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    border: solid 1px black;
    background-position: right center;
}
.button-container button:hover {
    background-color: rgb(96, 96, 96);
    color: #fff;
    border-radius: 15px;
}

#feedButton {
    background-image: url(img/utensil.png);
    background-size:contain;
    background-repeat: no-repeat;
}

#washButton {
    background-image: url(img/shower.png);
    background-size:contain;
    background-repeat: no-repeat;
}

#playButton {
    background-image: url(img/play.png);
    background-size:contain;
    background-repeat: no-repeat;
}

#StartOverButton {
    position: 50% 50%;
    transform: translate(535%, 50%);
}

